body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    background-color: #f4f4f4;
}

.container {
    padding: 20px; 
}

.overview-section,
.project-section,
.task-section {
    background-color: #fff; 
    margin-bottom: 20px; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h2, h3 {
    color: #333; 
    margin-bottom: 10px; 
}

.stats-section {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.status {
    font-weight: bold; 
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); 
    padding: 3px; 
}

.status[data-status="Completed"] {
    color: green; 
}

.status[data-status="Handed Over"] {
    color: rgb(0, 155, 116); 
}

.status[data-status="In Progress"] {
    color: rgb(223, 145, 0); 
}

.status[data-status="Approved"] {
    color: blue; 
}

.status[data-status="Pending Approval"] {
    color: purple; 
}

.status[data-status="Rejected"] {
    color: red; 
}

.stats-card {
    background-color: #e9ecef; 
    padding: 15px; 
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex: 1; 
    text-align: center; 
    transition: background-color 0.3s; 
    text-decoration: none; 
}

.stats-card:hover {
    background-color: #dedede; 
    transform: translateY(-2px); 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); 
}

.project-card,
.task-card {
    background-color: #fff; 
    padding: 15px; 
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    transition: transform 0.1s, box-shadow 0.1s; 
}

.project-card-link,
.task-card-link {
    text-decoration: none; 
    color: inherit; 
}

.project-card:hover,
.task-card:hover {
    transform: translateY(-2px); 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); 
    filter: brightness(0.9); 
}

.card-header {
    display: flex; 
    justify-content: space-between; 
}

.ongoing-projects {
    background-color: #e4f2ff; 
}

.handed-over-projects {
    background-color: #e8e8ff; 
}

.pending-project-approvals {
    background-color: #fffcdf; 
}

.pending-task-approvals {
    background-color: #ffe8f4; 
}

.ongoing-projects-section {
    background-color: #b4dcff; 
}

.handed-over-projects-section {
    background-color: #c4c4ff; 
}

.pending-project-approvals-section {
    background-color: #fff9c1; 
}

.pending-task-approvals-section {
    background-color: #ffc8e5; 
}

.project-id,
.task-id {
    font-weight: bold;
    color: #007BFF; 
}

.button-primary,
.button-dark,
.button-danger {
    padding: 10px 15px; 
    border-radius: 4px; 
    color: #fff; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.button-primary {
    background-color: #007BFF; 
}

.button-dark {
    background-color: #333; 
}

.button-danger {
    background-color: #dc3545; 
}

.button-primary:hover {
    background-color: #0056b3; 
}

.button-dark:hover {
    background-color: #555; 
}

.button-danger:hover {
    background-color: #c82333; 
}

.search-container {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.search-container input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

.filter-container {
    margin: 20px 0; 
    display: flex; 
    gap: 10px; 
}

.user-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.user-card {
    background-color: #fff; 
    padding: 15px; 
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.1s; 
}

.user-card:hover {
    transform: translateY(-2px); 
}

.user-actions {
    margin-top: 10px; 
    display: flex; 
    gap: 10px; 
}
