/* show-all.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.project-container,
.user-container,
.task-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    margin-left: 20px;
}

.project-card,
.user-card,
.task-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.1s;
}

.project-card-link,
.user-card-link,
.task-card-link {
    text-decoration: none;
    color: inherit;
}

.project-card:hover,
.user-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #2e2e2e;
}

.project-id,
.user-id,
.task-id {
    font-weight: bold;
    color: #007BFF;
}

.status {
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    padding: 3px;
}

.status[data-status="Completed"] {
    color: green;
}

.status[data-status="Handed Over"] {
    color: rgb(0, 155, 116);
}

.status[data-status="In Progress"] {
    color: rgb(223, 145, 0);
}

.status[data-status="Approved"] {
    color: blue;
}

.status[data-status="Pending Approval"] {
    color: purple;
}

.status[data-status="Rejected"] {
    color: red;
}

.card-actions, .user-actions {
    margin-top: 10px;
}

.button-primary,
.button-danger {
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-primary {
    background-color: #007BFF;
}

.button-danger {
    background-color: #dc3545;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-danger:hover {
    background-color: #c82333;
}

.form-buttons {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
